body {
  font-family: Arial, sans-serif;
  padding: 2em;
  background-color: #f5f5f5;
}

form {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin-right: 0.5em;
}

select {
  padding: 0.4em;
  font-size: 1em;
}

.message {
  font-size: 1.1em;
  color: #333;
  margin-top: 1em;
}